:root{
    --height-main-navbar: calc(100vh - 54px);
    --width-main-navbar: 150px;
    --height-main-section: calc(100vh - 54px);
    --width-main-section: calc(100% - 150px);
    --height-main-header: 100px;
    --height-main-content: calc(100vh - 154px);
   
   
}

img{
    width: 100%;
}


/* HEADER */


.mobile-logo{
    max-width: 40px;
}

#header .form-control:focus{
    border-color: var(--bs-border-color);
    box-shadow: none;
}

#header .form-control{
    border-left: 0;
}

/* MAIN */

/* main-navbar */

#main-navbar{
    width: var(--width-main-navbar);
    height: var(--height-main-navbar);
    background-color: rgb(4, 30, 52);
}

/* main-section */

#main-section{
    width: var(--width-main-section);
    height: var(--height-main-section);
    background-color: aquamarine;
    overflow: scroll;
}

/* main-header */

#main-header{
    min-height: var(--height-main-header);
    background-color: rgb(29, 114, 232);
}

/* main-content */

#main-content{
    height: var(--height-main-content);
}

.container-icon-class{
    width: 35px;
    padding-right: 5px ;
}

